In [1]:
import pandas as pd

In [7]:
Dec_20 = pd.read_csv('Resources/JC-202012-citibike-tripdata.csv')
Jan_21 = pd.read_csv('Resources/JC-202101-citibike-tripdata.csv')
Feb_21 = pd.read_csv('Resources/JC-202102-citibike-tripdata.csv')
Mar_21 = pd.read_csv('Resources/JC-202103-citibike-tripdata.csv')
Apr_21 = pd.read_csv('Resources/JC-202104-citibike-tripdata.csv')
May_21 = pd.read_csv('Resources/JC-202105-citibike-tripdata.csv')
Jun_21 = pd.read_csv('Resources/JC-202106-citibike-tripdata.csv')
Jul_21 = pd.read_csv('Resources/JC-202107-citibike-tripdata.csv')
Aug_21 = pd.read_csv('Resources/JC-202108-citibike-tripdata.csv')
Sep_21 = pd.read_csv('Resources/JC-202109-citibike-tripdata.csv')

In [8]:
Dec_20.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,146,2020-12-01 00:02:50.1450,2020-12-01 00:05:16.1940,3202,Newport PATH,40.727224,-74.033759,3199,Newport Pkwy,40.728745,-74.032108,42308,Subscriber,1989,2
1,572,2020-12-01 00:11:57.3910,2020-12-01 00:21:30.2510,3640,Journal Square,40.733670,-74.062500,3280,Astor Place,40.719282,-74.071262,18568,Subscriber,1997,2
2,387,2020-12-01 00:14:49.3610,2020-12-01 00:21:16.8730,3640,Journal Square,40.733670,-74.062500,3194,McGinley Square,40.725340,-74.067622,44543,Subscriber,1960,1
3,188,2020-12-01 00:45:06.3680,2020-12-01 00:48:14.4280,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,43098,Subscriber,1998,1
4,594,2020-12-01 01:17:17.0110,2020-12-01 01:27:11.9400,3212,Christ Hospital,40.734786,-74.050444,3209,Brunswick St,40.724176,-74.050656,44723,Subscriber,1988,1

In [9]:
Jan_21.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,266,2021-01-01 00:03:35.5100,2021-01-01 00:08:01.7770,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,-74.050656,42494,Subscriber,1988,1
1,1543,2021-01-01 00:23:32.9250,2021-01-01 00:49:16.0830,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,45343,Customer,1996,2
2,1461,2021-01-01 00:23:50.7940,2021-01-01 00:48:12.5660,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,31794,Customer,1995,1
3,793,2021-01-01 00:31:09.0770,2021-01-01 00:44:22.9430,3185,City Hall,40.717732,-74.043845,3199,Newport Pkwy,40.728745,-74.032108,42316,Customer,1969,0
4,596,2021-01-01 00:35:52.1900,2021-01-01 00:45:48.7740,3639,Harborside,40.719252,-74.034234,3209,Brunswick St,40.724176,-74.050656,32575,Customer,1969,0

In [10]:
Feb_21.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,121DD7DD23CB1335,docked_bike,2021-02-03 23:11:28,2021-02-03 23:18:28,Hoboken Ave at Monmouth St,JC105,Christ Hospital,JC034,40.735208,-74.046964,40.734786,-74.050444,member
1,FD73FB85F008349D,docked_bike,2021-02-27 16:34:05,2021-02-27 16:56:40,Newport Pkwy,JC008,Marin Light Rail,JC013,40.728744,-74.032108,40.714584,-74.042817,member
2,39F9E6663CB5FDF6,docked_bike,2021-02-26 23:16:04,2021-02-26 23:22:25,Journal Square,JC103,Baldwin at Montgomery,JC020,40.733670,-74.062500,40.723659,-74.064194,member
3,A64745CB0792EC6F,docked_bike,2021-02-24 16:51:50,2021-02-24 17:16:09,Hoboken Ave at Monmouth St,JC105,Hoboken Ave at Monmouth St,JC105,40.735208,-74.046963,40.735208,-74.046964,casual
4,75CC76EB9543764A,docked_bike,2021-02-24 20:44:16,2021-02-24 20:44:46,Hoboken Ave at Monmouth St,JC105,Hoboken Ave at Monmouth St,JC105,40.735208,-74.046963,40.735208,-74.046964,member

In [11]:
Mar_21.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,ABBBB4D89C620898,docked_bike,2021-03-03 10:32:07,2021-03-03 10:32:40,Jackson Square,JC063,Jackson Square,JC063,40.71113,-74.0789,40.711130,-74.078900,member
1,987BC8C414C77F3E,docked_bike,2021-03-14 00:21:37,2021-03-14 00:22:59,Jackson Square,JC063,Jackson Square,JC063,40.71113,-74.0789,40.711130,-74.078900,casual
2,342C5C515F0F8BCB,docked_bike,2021-03-21 14:39:46,2021-03-21 15:33:10,Jackson Square,JC063,Warren St,JC006,40.71113,-74.0789,40.721124,-74.038051,casual
3,AB28945141163E31,docked_bike,2021-03-14 00:27:21,2021-03-14 00:31:07,Jackson Square,JC063,Jackson Square,JC063,40.71113,-74.0789,40.711130,-74.078900,casual
4,4F5758803BC3DE72,docked_bike,2021-03-12 20:45:29,2021-03-13 08:58:59,Jackson Square,JC063,Jackson Square,JC063,40.71113,-74.0789,40.711130,-74.078900,member

In [12]:
Apr_21.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,8B8A826EA1FB6246,docked_bike,2021-04-02 18:06:51,2021-04-02 18:42:17,Paulus Hook,JC002,Astor Place,JC077,40.714145,-74.033551,40.719282,-74.071262,member
1,6ECB53933BB5424E,docked_bike,2021-04-06 21:19:27,2021-04-06 21:59:56,Bergen Ave,JC095,Bergen Ave,JC095,40.722103,-74.071455,40.722104,-74.071455,casual
2,DC8E726CDD4A3FDE,docked_bike,2021-04-07 17:26:47,2021-04-07 17:31:01,Bergen Ave,JC095,Lincoln Park,JC053,40.722103,-74.071455,40.724605,-74.078406,member
3,CDBF0A93464AB439,docked_bike,2021-04-30 20:23:42,2021-04-30 20:32:12,Jersey & 6th St,JC027,Hoboken Ave at Monmouth St,JC105,40.725289,-74.045571,40.735208,-74.046964,casual
4,7AC523690FC1E82E,docked_bike,2021-04-23 18:48:11,2021-04-23 18:57:29,Paulus Hook,JC002,Washington St,JC098,40.714145,-74.033551,40.724294,-74.035483,casual

In [13]:
May_21.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,74A4206E7487CBC9,docked_bike,2021-05-23 16:51:00,2021-05-23 18:38:21,9 St HBLR - Jackson St & 8 St,HB305,9 St HBLR - Jackson St & 8 St,HB305,40.747907,-74.038411,40.747907,-74.038412,casual
1,58EEE2950FFE01CE,docked_bike,2021-05-31 16:54:47,2021-05-31 16:55:28,9 St HBLR - Jackson St & 8 St,HB305,9 St HBLR - Jackson St & 8 St,HB305,40.747907,-74.038411,40.747907,-74.038412,member
2,1429D912C16EEE59,docked_bike,2021-05-25 16:19:34,2021-05-25 17:03:06,9 St HBLR - Jackson St & 8 St,HB305,9 St HBLR - Jackson St & 8 St,HB305,40.747907,-74.038411,40.747907,-74.038412,casual
3,FE9C5B74167CBCCD,docked_bike,2021-05-22 17:32:19,2021-05-22 17:41:27,9 St HBLR - Jackson St & 8 St,HB305,Grand St & 2 St,HB405,40.747907,-74.038411,40.739130,-74.036180,casual
4,B88D37626F000BBA,docked_bike,2021-05-14 09:48:34,2021-05-14 10:17:36,Union St,JC051,Newark Ave,JC032,40.718211,-74.083639,40.721525,-74.046305,casual

In [14]:
Jun_21.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,6457BC38526A4187,docked_bike,2021-06-21 10:19:04,2021-06-21 10:26:28,Lafayette Park,JC078,City Hall,JC003,40.713463,-74.062858,40.717732,-74.043845,member
1,508AC0C37B2BE1A8,docked_bike,2021-06-05 10:12:18,2021-06-05 10:27:10,Mama Johnson Field - 4 St & Jackson St,HB404,Bloomfield St & 15 St,HB203,40.743139,-74.040040,40.754530,-74.026580,member
2,A1AD52779E13308C,docked_bike,2021-06-04 15:42:35,2021-06-04 15:54:28,Lincoln Park,JC053,Grand St,JC102,40.724605,-74.078405,40.715178,-74.037683,member
3,DA8AA7083ACCA940,docked_bike,2021-06-03 18:07:42,2021-06-03 19:09:26,Columbus Park - Clinton St & 9 St,HB501,Columbus Park - Clinton St & 9 St,HB501,40.748161,-74.032453,40.748161,-74.032453,casual
4,BF8DB08AEF78C8D1,docked_bike,2021-06-05 15:39:56,2021-06-05 16:16:09,Columbus Park - Clinton St & 9 St,HB501,Columbus Park - Clinton St & 9 St,HB501,40.748161,-74.032453,40.748161,-74.032453,casual

In [15]:
Jul_21.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,2F01C15ECE379AE7,classic_bike,2021-07-31 13:53:26,2021-07-31 14:47:00,Bergen Ave & Stegman St,JC108,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,40.706575,-74.086701,40.736982,-74.027781,member
1,CF7E2039ACB179C2,classic_bike,2021-07-17 19:06:01,2021-07-17 19:20:07,Bergen Ave & Stegman St,JC108,Baldwin at Montgomery,JC020,40.706575,-74.086701,40.723659,-74.064194,member
2,9375052379DE50FC,classic_bike,2021-07-08 19:54:34,2021-07-08 20:43:06,Columbus Dr at Exchange Pl,JC106,Liberty Light Rail,JC052,40.716870,-74.032810,40.711242,-74.055701,member
3,EF77D67D538E108E,classic_bike,2021-07-18 20:21:15,2021-07-18 20:28:23,Columbus Dr at Exchange Pl,JC106,Warren St,JC006,40.716870,-74.032810,40.721124,-74.038051,member
4,3550C64E6994B8BC,classic_bike,2021-07-08 18:19:07,2021-07-08 18:24:48,Columbus Dr at Exchange Pl,JC106,Warren St,JC006,40.716870,-74.032810,40.721124,-74.038051,member

In [16]:
Aug_21.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,5CABAE380FF3C7E0,classic_bike,2021-08-06 07:02:02,2021-08-06 07:28:56,Dey St,JC065,Stevens - River Ter & 6 St,HB602,40.737711,-74.066921,40.743133,-74.026989,casual
1,0C820F4E9256B5BB,classic_bike,2021-08-15 19:48:51,2021-08-15 20:04:45,Grand St & 2 St,HB405,Jersey & 3rd,JC074,40.739130,-74.036180,40.723332,-74.045953,member
2,F33B1B767F55A2BC,classic_bike,2021-08-26 17:14:58,2021-08-26 17:20:13,Grand St & 2 St,HB405,7 St & Monroe St,HB304,40.739130,-74.036180,40.746413,-74.037977,casual
3,EF7A1541C2302EEF,classic_bike,2021-08-12 12:58:22,2021-08-12 13:04:07,Dey St,JC065,Sip Ave,JC056,40.737711,-74.066921,40.730897,-74.063913,member
4,74DEC24E4C66BA01,classic_bike,2021-08-04 20:59:45,2021-08-04 21:10:39,Glenwood Ave,JC094,Pershing Field,JC024,40.727551,-74.071061,40.742677,-74.051789,member

In [17]:
Sep_21.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,228F2E2FEBFBF843,classic_bike,2021-09-11 16:03:10,2021-09-11 16:20:57,Jersey & 6th St,JC027,Astor Place,JC077,40.725289,-74.045572,40.719282,-74.071262,casual
1,DCDBDC0A5178BAB5,classic_bike,2021-09-14 17:27:50,2021-09-14 17:34:18,Jersey & 6th St,JC027,Marin Light Rail,JC013,40.725289,-74.045572,40.714584,-74.042817,member
2,DD7AD7B81588187B,docked_bike,2021-09-04 20:29:34,2021-09-04 20:41:17,12 St & Sinatra Dr N,HB201,4 St & Grand St,HB301,40.750604,-74.024020,40.742258,-74.035111,casual
3,4D3CFEEB6E3E514B,classic_bike,2021-09-16 17:26:37,2021-09-16 17:32:48,Jersey & 6th St,JC027,Marin Light Rail,JC013,40.725289,-74.045572,40.714584,-74.042817,member
4,D05FC6DDE1112F08,classic_bike,2021-09-16 18:05:35,2021-09-16 18:16:02,Jersey & 6th St,JC027,Columbus Dr at Exchange Pl,JC106,40.725289,-74.045572,40.716870,-74.032810,member

In [19]:
Sep_21.nunique()

ride_id               97290
rideable_type             2
started_at            94127
ended_at              94111
start_station_name       74
start_station_id         74
end_station_name        121
end_station_id          121
start_lat               137
start_lng               135
end_lat                 189
end_lng                 190
member_casual             2
dtype: int64

In [27]:
frames = [Feb_21, Mar_21, Apr_21, May_21, Jun_21, Jul_21, Aug_21, Sep_21]

#concatenate dataframes
docked_classic_feb_thru_sep = pd.concat(frames, sort=False)

In [29]:
docked_classic_feb_thru_sep.nunique()

ride_id               435888
rideable_type              3
started_at            424596
ended_at              424103
start_station_name        79
start_station_id          79
end_station_name         215
end_station_id           215
start_lat                185
start_lng                182
end_lat                  298
end_lng                  300
member_casual              2
dtype: int64

In [30]:
print(docked_classic_feb_thru_sep['rideable_type'].value_counts())

classic_bike              296674
docked_bike               139213
motivate_dockless_bike         1
Name: rideable_type, dtype: int64

In [31]:
docked_classic_feb_thru_sep.to_csv(r'C:\Users\Jtc\Desktop\CitiBike\feb_through_sep_21.csv', index = True)